@import url("./font.css");

.font-orbiton {
    font-family: "Orbitron";
}

.font-morena {
    font-family: "Morena";
}

.font-nationalPark {
    font-family: "NationalPark";
}

.font-roboto {
    font-family: "Roboto";
}

.font-gmarketSans {
    font-family: "Gmarket Sans";
}

.font-jalnan {
    font-family: "Jalnan";
}

.font-monsori {
    font-family: "Monsori";
}

.font-cafe24 {
    font-family: "Cafe24";
}

.font-iropke {
    font-family: "Iropke Batang";
}

.font-pretendard {
    font-family: "Pretendard";
}
